body {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

table { 
    color: #333; 
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 89vw;
    height: 20vw; 
}

td, th { 
border-bottom: 1px solid #e6e6e6;
height: 30px; 
}

th {
background: #e6e6e6;  /* Darken header a bit */
font-weight: bold;
color: #3366ff;
}

td {
background: #ffffff;
text-align: center;
}

input {
    font-size: 22px;
}

input[type=submit] {
    background-color: #ffffff;
    color: #3366ff;
    border: 1px solid #e6e6e6;
}

input[type=submit]:hover
{
  background-color: #3366ff;
  color: #ffffff;
}

input[type=text] {
    background-color: #ffffff;
    color: black;
    border: 1px solid #e6e6e6;
}

#product_table {
    display: inline-block;
    margin-top: 0.75cm;
    margin-left: 1vw;
    margin-right: 3vw;
    background-color: #ffffff;
    width: 89vw;
    height: 20vw; 
}

#product_panel { 
    display: table;
    margin: 0 auto;
    background-color: #ffffff
    width: 85vw;
    height: 70vw; 
    
}

#product_panel_inner {
    margin-top: 1cm;
}

#outer_div {
    background-color: #ffffff;
    height: 500px;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-bottom: 0.5cm;
}

#search_block_outer {
    width: 90vw;
    vertical-align: middle;
    margin-left: 1.5;
}

#search_block2{
    float: right;
}

#search_block1, #search_block2
{
    display:inline;
}
